{% extends "index.html.twig" %}

{% block section %}
   <form method="post" action="index.php?action=valider_ajout_matchs" class="well">
		<fieldset class="form-group">
		 <legend>Ajouter un match</legend>
		 <div class="form-group row d-none">
		   <div class="col-sm-10">
			 <input  type="text" id="id_matchs" class="form-control form-control-sm" name="id_matchs" required placeholder="" value="$_SESSION"/>
		   </div>
		 </div>
		
		<div class="form-group row">
		   <label for="equipe_hote" class="col-sm-2 col-form-label col-form-label-sm">Equipe Hote</label>
		   <div class="col-sm-10">
			 <select id="equipe_hote" class="form-select form-select-sm" name="equipe_hote" required>
            <option value="">Sélectionner une équipe</option>
            {% for equipe in equipes %}
                <option value="{{ equipe.id_equipe }}">{{ equipe.nom }}</option>
            {% endfor %}
        </select>
		   </div>
		 </div>
		 <div class="form-group row">
		   <label for="equipe_visiteuse" class="col-sm-2 col-form-label col-form-label-sm">Equipe Visiteuse</label>
		   <div class="col-sm-10">
			 <select id="equipe_visiteuse" class="form-select form-select-sm" name="equipe_visiteuse" required>
            <option value="">Sélectionner une équipe</option>
            {% for equipes in equipes %}
                <option value="{{ equipes.id_equipe }}">{{ equipes.nom }}</option>
            {% endfor %}
        </select>
		 </div>
		 </div>
		 <div class="form-group row">
		   <label for="nom_match" class="col-sm-2 col-form-label col-form-label-sm">Nom</label>
		   <div class="col-sm-10">
			 <input  type="text" id="nom_match" class="form-control form-control-sm" name="nom_match" required placeholder="E1 vs E2" />
		   </div>
		 </div>
		 <div class="form-group row">
		   <label for="date_match" class="col-sm-2 col-form-label col-form-label-sm">Date</label>
		   <div class="col-sm-10">
			 <input type="date" id="date_match" class="form-control form-control-sm" name="date_match" required placeholder="jj/mm/aaaa"/>
		   </div>
		 </div>
		 <div class="form-group row">
		   <label for="lieu" class="col-sm-2 col-form-label col-form-label-sm">Lieu</label>
		   <div class="col-sm-10">
			 <input  type="text" id="lieu" class="form-control form-control-sm" name="lieu" required placeholder=""/>
		   </div>
		 </div>
		 <div class="form-group row">
		   <label for="buts_marques_EH" class="col-sm-2 col-form-label col-form-label-sm">butsEH</label>
		   <div class="col-sm-10">
			 <input type="number" id="buts_marques_EH" class="form-control form-control-sm" name="buts_marques_EH" required placeholder="nombre de butEH"/>
		   </div>
		  <div class="form-group row">
		   <label for="buts_marques_EV" class="col-sm-2 col-form-label col-form-label-sm">butsEV</label>
		   <div class="col-sm-10">
			 <input type="number" id="buts_marques_EV" class="form-control form-control-sm" name="buts_marques_EV" required placeholder="nombre de butEV"/>
		   </div>
		 </div>
		 <div class="form-group row">
		   <label for="statut" class="col-sm-2 col-form-label col-form-label-sm">statut</label>
		   <div class="col-sm-10">
			 <input type="text" id="statut" class="form-control form-control-sm" name="statut" required placeholder="terminer ou à venir ?"/>
		   </div>
		 </div>
		 
		 
		 
		 <input  type="hidden" id="id_equipe" name="id_equipe" value="11"/>
		 <input type="submit" class="btn btn-primary" name="valider_ajout_matchs" value="Ajouter"/>
		</fieldset>
		</form>
		
{% endblock %}
